body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	background-color:black;
background-image: url('https://wallpapercave.com/wp/wp528836.jpg');
}

table{
    width: 80%;
    margin: 40px auto;
    background: #F2FBFF;
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(204,200,200);
}

input[type="text"],input[type="number"]{
	
    color: rgba(51, 45, 45, 0.5);
    font-weight: 650;
    outline: black;
    border: 3px solid #555;
    font-size: 18px;
    padding: 15px;
    height: 35px;
    margin: 10px;
    display: flex;
    width: 20vw;

}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #4b99d8;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#4b99d8 ;
}
